body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.cor-header {
    text-align: center;
}

.cor-header p, h1 {
    margin-bottom: -5px;
}

.cor-header img {
    float: left;
    position: absolute;
    margin: 15px 0 0 -150px;
}

.header {
    margin-top: 15px;
    display: inline-block;
}

h2 {
    letter-spacing: 10px;
}

.cor-header p strong {
    margin-left: -55em;
}

.cor-header p span {
    color: darkred;
}

main {
    margin: 100px;
    margin-top: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.student-gen-info {
    width: 100%;
    border-collapse: collapse;
}

.student-gen-info td {
    padding-left: 15px;
}

.student-gen-info tr td:not(:nth-child(7)) {
    vertical-align: top;
}

.gen-info {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 20px;
    width: 100px;
    line-height: 30px;
    background-color: #c2bcff;
}

.subject-info {
    width: 100%;
    border-top: 2px solid black;
    border-collapse: collapse;
}

.subject-info th {
    border-bottom: 2px solid black;
    background-color: #c2bcff;
}

.subject-info tr td:not(:nth-child(7)):not(:nth-child(8)) {
    padding-left: 20px;
}

.subject-info tr td:nth-child(7), .subject_info tr td:nth-child(8) {
    padding-left: 30px;
}

#subject-code {
    width: 100px;
}

#subject-title {
    width: 300px;
}

.unit {
    width: 60px;
    text-align: center;
}

.unit span {
    font-size: 13px;
}

#section {
    width: 100px;
    text-align: center;
}

#schedule-room {
    width: 300px;
}

#faculty-signature {
    width: 200px;
}

.faculty {
    border-bottom: 1px solid black;
}

#total-units {
    text-align: right;
}

.total {
    border-top: 2px solid black;
    padding: 10px;
}

#note {
    margin-left: 30px;
    font-size: 13px;
    margin-bottom: 45px;
}

#assessed-fees {
    border: 2px solid black;
    margin-left: 20px;
    border-collapse: collapse;
}

#assessed-fees tr:not(:nth-child(-n+3)) td:first-child {
    padding-right: 65px;

}

#assessed-fees tr td:nth-child(2) {
    text-align: right;
}

#assessed-fees td {
    line-height: 20px;
}

#assessment {
    border-bottom: 2px solid black;
    letter-spacing: 10px;
    background-color: #c2bcff;
}

.total-payment {
    border-top: 1px solid black;
    padding: 10px;
    text-align: right;
}

#payment-sched {
    text-align: center;
    margin: 20px;
    width: 536px;
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-top: 0;
}

#payment-sched th {
    letter-spacing: 5px;
    background-color: #c2bcff;
}

#payment-sched td {
    border: 2px solid black;
}

#refund-rules {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 39em;
    left: 43em;
}

#refund-rules {
    text-align: center;
}

#refund-rules ol {
    margin-bottom: 100px;
}

#refund-rules li {
    font-style: italic;
    text-align: left;
}

#refund-rules p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    padding-left: 1em;
}

#blank {
    display: inline-block;
    border-bottom: 2px solid black;
    margin-left: 6em;
    width: 250px;
}

#date {
    display: inline-block;
    border-bottom: 2px solid black;
    margin-left: 1.7em;
    width: 250px;
    text-align: center;
}

#approval {
    position: absolute;
    top: 70em;
    left: 40em;
}

#approval p:nth-child(1) {
    margin-left: 5em;
}

#approval p:nth-child(2) {
    margin-left: 14em;
    margin-top: 35px;
    border-bottom: 2px solid black;
}

#approval p:nth-child(3) {
    margin-left: 14em;
    text-align: center;
}

footer {
    margin-top: 500px;
}

footer p {
    margin-bottom: -1.5em;
    font-size: 13px;
    text-align: right;
}

footer h4 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #c2bcff;
    text-align: center;
}